<head>
    <!--favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>

@using Spock_BlogMain.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<BlogMain>


@{
    ViewBag.Title = "Home";
}

<style>
    .backgd {
        background-color: lightgray;
    }


    .btnclr {
        background-color:orange;
        padding-left:20px;
        width:15%
    }
</style>
<!DOCTYPE html>
<html lang="en">



<body>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 style="color:#b30000">Srijana's Blog</h1>
                        <span class="subheading">My coding journey...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @using (Html.BeginForm("Index", "BlogMains", FormMethod.Get, htmlAttributes: new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="controls controls-row search-row">
                    <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search Posts">

                    <button id="searchStr" name="searchStr" class="btn btn-danger " type="submit">
                        <i class="icon-search"> Click</i>
                    </button>

                </div>
            }
            </div>
         </div>  
        </hr>
        </br>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @foreach (var post in Model)
                    {
                        <div class="post-review">
                            <a href="@Url.Action("Details", "BlogMains", new { slug = post.Slug })">
                                @*<a href="@Url.Action("Details", "BlogMains" ,new{slug =post.Slug })"
                                class="a-block d-flex align-items-center height-lg" style="background-image: url(@post.MediaUrl); ">*@

                                <h4 class="post title">
                                    @post.Title
                                </h4>
                                <h6 class="post subtitle">
                                    @post.Abstract
                                </h6>

                            </a>
                            <p class="post-meta">

                                Posted by Srijana Karki on @post.Created.ToString("MM/dd/yyyy")
                            </p>
                        </div>
                    }

                    <hr>


                    @*//Lastly, Add or Modify your*@

                    <!-- Pager -->
                    <div class="clearfix">

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
                    </div>

                </div>
            </div>
        </div>

        <hr>

</body>

</html>
